@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

:root {
  --clr-dark-bg: hsl(0, 0%, 13%); //color btn #222
  --clr-soft-white: hsl(0, 0%, 93%); //border color, bg number, btn bg #eee
  --clr-light-gray: hsl(0, 0%, 80%); // #ccc
  --clr-dark-gray: hsl(0, 0%, 20%); // #333

  --ff-body: "Press Start 2P", sans-serif;
}
