header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid var(--clr-soft-white);
  h1 {
    position: absolute;
    width: 100%;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .between {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .number {
    background: var(--clr-soft-white);
    width: 12rem;
    padding: 0.2rem 0rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
