header {
  position: relative;
  height: 35vh;
  border-bottom: 7px solid var(--clr-soft-white);
  h1 {
    position: absolute;
    width: 100%;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .between {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .number {
    background: var(--clr-soft-white);
    width: 15rem;
    padding: 3rem 0rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 1px 1px 20px 2px rgba(255, 2, 234, 0.397);
  }
}
