header {
  .again {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
}

.btn {
  border: none;
  background-color: var(--clr-soft-white);
  padding: 2rem 3rem;
  cursor: pointer;
  &:hover {
    background-color: var(--clr-light-gray);
  }
}
