header {
  .again {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: var(--clr-soft-white);
  padding: 2rem 3rem;
  cursor: pointer;
  box-shadow: 1px 1px 5px 2px rgba(3, 255, 255, 0.397);
  &:hover {
    background-color: var(--clr-light-gray);
  }
}
