@use "../abstracts/mixins" as *;
body {
  background-color: var(--clr-dark-bg);
}

main {
  height: 65vh;
  @include flex-row(space-around, center);
  .guess {
    background: none;
    border: 4px solid var(--clr-soft-white);
    padding: 2.5rem;
    width: 25rem;
    display: block;
    margin-bottom: 3rem;
  }
  .left {
    display: inline-block;
    width: 52rem;
    @include flex-column(center, center);
  }
  .right {
    width: 52rem;
    .message {
      margin-bottom: 4rem;
      height: 3rem;
    }
    .label-score {
      .score {
        color: rgb(238, 74, 74);
      }
    }
  }
}
