html {
  font-size: 62.5%;
}

body {
  font-family: var(--ff-body);
  color: var(--clr-soft-white);
  text-align: center;
}

header {
  h1 {
    font-size: 4rem;
  }
  .between {
    font-size: 1.4rem;
  }
  .number {
    font-size: 6rem;
    color: var(--clr-dark-gray);
  }
}

main {
  color: var(--clr-soft-white);
  .guess {
    font-size: 5rem;
    color: inherit;
    text-align: center;
    font-family: inherit;
  }
  .right {
    font-size: 2rem;
  }
  .btn {
    font-size: 2rem;
    color: var(--clr-dark-bg);
    font-family: inherit;
  }
}
